<!doctype html>

<html lang='zh-Hant-TW'>

<head>
	<title>Roy Lu</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class='container'>

<div class='panel'>
<div>Hello, I am Roy Lu. I am a software developer.</div>

<h3>Pages</h3>

<ul>
	<li><a href='https://github.com/royvbtw'>github</a></li>
	<li><a href='https://royvbtw.blogspot.tw'>Blogger</a></li>
</ul>

<h3>Web Apps</h3>

<ul>
	<li><a href='https://grumbler.royvbtw.uk:3002'>Grumbler - Let's Grumbling!</a></li>
	<li><a href='https://royvbtw.github.io/rtsm/rtsm.html'>RTSM</a></li>
</ul>

<h3>Education</h3>

<p>
	<b>Tunghai University</b><br/>
	B.B.A. in Information Management<br/>
	Taichung City, Taiwan
</p>

<p>2017</p>

</div><!-- end of .panel -->
</div><!-- end of .container -->

</body>
</html>