*{
	box-sizing: border-box;
}

html{
	font-family: 'Microsoft JhengHei';
	color: snow;
	font-weight: 100;
	overflow-x: hidden;
}

body{
	width: 100vw;
	margin: 0;
	padding: 30px;
	background-color: #222;
	font-size: 16px;
}
@media (min-width: 720px) {
	body {
		padding: 50px;
		font-size: 16px;
	}
}
@media (min-width: 1280px) {
	body {
		font-size: 17px;
	}
}

a{
	color: skyblue;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

h2{
	color: wheat;
	clear: both;
}

img{
	border: 1px solid #222;
	transition: all 700ms;
}
img:hover{
	border: 1px solid snow;
}

.app-list{
	border-left: 15px solid wheat;
}

.app-sublist{
	padding-left: 30px;
}

.app-info{
	clear: both;
	page-break-after: always;
}

.app-preview{
	margin: 5px auto;
	border: 1px solid #222;
	color: grey;
	text-align: center;
}
@media (min-width: 720px){
	.app-preview{
		float: right;
		transition: all 750ms;
	}
}

.img-beautyland{
	width: auto;
	height: 180px;
}
@media (min-width: 720px){
	.img-beautyland{
		width: auto;
		height: 360px;
	}	
}

.img-rtsm{
	width: auto;
	height: 150px;
}
@media (min-width: 720px){
	.img-rtsm{
		width: auto;
		height: 360px;
	}	
}

.img-camou-creator{
	width: auto;
	height: 150px;
}
@media (min-width: 720px){
	.img-camou-creator{
		width: auto;
		height: 360px;
	}	
}

.img-bunyan-log-viewer{
	width: auto;
	height: 150px;
}
@media (min-width: 720px){
	.img-bunyan-log-viewer{
		width: auto;
		height: 360px;
	}	
}

.img-beautyland-downloader{
	width: auto;
	height: 150px;
}
@media (min-width: 720px){
	.img-beautyland-downloader{
		width: auto;
		height: 300px;
	}
}


.img-ascii-art-poster{
	width: 100%;
	height: auto;
}
@media (min-width: 720px){
	.img-ascii-art-poster{
		width: auto;
		height: 250px;
	}
}
