*{
	box-sizing: border-box;
}

html{
	font-family: 'Microsoft JhengHei';
	color: snow;
	font-weight: 100;
	overflow-x: hidden;
}

body{
	width: 100vw;
	margin: 0;
	padding: 50px;
	background-color: #222;
	font-size: 16px;
}
@media (min-width: 720px) {
	body {
		font-size: 16px;
	}
}
@media (min-width: 1280px) {
	body {
		font-size: 17px;
	}
}

a{
	color: #5d7fb9;
	text-decoration: none;
}
a:hover{
	color: rosybrown;
	text-decoration: underline;
}